<div class="flex h-screen">
  @if(isLoggedIn) {
  <app-side-navbar class="w-72 bg-white  h-full" [userRole]="userRole"></app-side-navbar>
  }

  <div class="flex-1 flex flex-col">
    @if(isLoggedIn) {
    <app-header class="h-16  w-full z-10"></app-header>
    }

    <div class="flex-1 overflow-y-auto bg-gray-50">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


 <!-- <div class="flex flex-col h-screen overflow-hidden">
  @if(isLoggedIn) {
    <app-header [ngClass]="isLoggedIn ? 'w-full' : 'w-0'"
    class="h-16 bg-white shadow z-20 fixed top-0 left-0"></app-header>
  }
  @if(isLoggedIn) {
    <app-side-navbar class="w-72 bg-white fixed top-16 left-0 h-full z-10" [userRole]="userRole"></app-side-navbar>
  }
  <div class="flex-1 flex flex-col ml-72 pt-16 overflow-y-auto">
    <div class="p-4 bg-gray-50">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
