 <div class="p-4">
   <ul class="mt-4">
    @if(userRole === 'user' || userRole === 'admin'){
     <li class="mb-4">
       <a routerLink="home" routerLinkActive="active" class="flex items-center space-x-2 cursor-pointer  hover:text-blue-800  text-blue-600 text-base font-semibold pb-2">
         <span class="material-icons">home</span>
         <span>Home</span>
       </a>
     </li>
   }
   @if(userRole === 'admin') {
     <li class="mb-4">
      <a routerLink="reports" routerLinkActive="active" class="flex items-center justify-between hover:text-blue-800 text-blue-600 text-base font-semibold pb-2">
        <div class="flex items-center space-x-2">
          <span class="material-icons">receipt_long</span>
          <span>Reports</span>
        </div>
      </a>
    </li>
   }
    @if(userRole === 'user'){
    <li class="mb-4">
      <a routerLink="add-events" routerLinkActive="active" class="flex items-center space-x-2 hover:text-blue-800 text-blue-600 text-base font-semibold
      cursor-pointer pb-2">
        <span class="material-icons">calendar_month</span>
        <span>Book Appointment</span>
      </a>
    </li>
   }
   </ul>
 </div>
 
 